.main {
    height: calc(100vh - 5rem);
    margin-left: 30rem;
    // padding: 0 0 0 1rem;

    @media (max-width: 767px) {
        margin-left: 20rem;
    }

    @media (max-width: 551px) {
        margin-left: 0;
        margin-top: 3.8rem;
        background-color: gray;
    }
}